<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <display-name>ayni-baf-prod.github.io</display-name>
    <description>Web application for Moneo Data Dictionary</description>

    <!-- Define a filter to set the Content-Security-Policy header -->
    <filter>
        <filter-name>CSPFilter</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <init-param>
            <param-name>contentSecurityPolicy</param-name>
            <param-value>
                default-src 'self';
                connect-src 'self' http://bi-rrhh-001:3000 https://bi-rrhh-001:3000 https://api.github.com;
                style-src 'self' 'unsafe-inline';
                script-src 'self' 'unsafe-inline';
                img-src 'self' https://*.githubusercontent.com https://via.placeholder.com;
            </param-value>
        </init-param>
    </filter>

    <!-- Apply the filter to all requests -->
    <filter-mapping>
        <filter-name>CSPFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>